/* Contact Us */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* predefined values for hamburger */
:root {
  --button-width: 40px;
  --button-height: calc(var(--button-width) * 0.8);
  --line-height: calc(var(--button-width) * 0.1);
  --line-radius: calc(var(--button-width) * 0.04);
  --translate: calc(var(--button-width) * 0.17);
  --transition: 0.65s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
}

.home-link {
  display: flex;
  text-decoration: none;
  align-items: center;
}

/* call & what's app */
.whatsapp {
  position: fixed;
  z-index: 3;
  right: 5px;
  top: 58%;
}
.whatsapp i {
  color: rgb(227, 246, 246);
}
.whatsapp h5 {
  color: white;
  background: rgb(90, 241, 90);
  padding: 10px;
  border-radius: 20px;
}
.phone {
  position: fixed;
  z-index: 3;
  right: 5px;
  top: 47%;
}
.phone i {
  color: rgb(227, 246, 246);
}
.phone h5 {
  color: white;
  background: black;
  padding: 10px;
  border-radius: 20px;
}
/* call & what's app end */

/* nav bar section */
header {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 100px;
  transition: 0.6s;
}

header.sticky {
  background: rgb(194, 1, 1);
  padding: 10px 100px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: black;
  width: fit-content;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto;
  justify-content: space-between;
}

.nav-links li a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 100%;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
}

.nav-links li a:hover {
  color: #011c39;
  background: rgba(255, 255, 255, 0.8);
}

.hamburger {
  border: 0;
}
/* nav bar section end */

/* content section */
.from-bottom {
  transition: opacity 150ms ease-in, transform 400ms ease-in;
  opacity: 0;
  transform: translateY(25%);
}
.from-bottom.appear {
  text-align: center;
  opacity: 1;
  transform: translateY(0);
}
.head {
  text-align: center;
}
.head a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.head h3::after {
  content: "";
  background:  rgb(173, 7, 7);
  display: block;
  width: 120px;
  height: 5px;
  margin: 0 auto;
}
.head p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  color:black;
  font-size: 20px;
  margin-top: 20px;
  width: 70%;
}
/* contact section */
.gallery-section {
  padding: 90px 100px 20px;
  background:whitesmoke;
  position: relative;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgb(167, 170, 173);
  height: 2900px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px 300px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}
.gallery-item {
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 20%;
  width: 100%;
  height: 100%;
  position: relative;
}
.gallery-item .image {
  width: 90%;
  height: 100%;
  overflow: hidden;
}
.gallery-item .image img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 1.5s ease-in-out;
}
.gallery-item:hover .image img {
  transform: scale(1.5);
}
.gallery-item .text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: black;
  font-family: monospace;
  font-size: 25px;
  font-weight: 800;
  pointer-events: none;
  z-index: 3;
  transition: 0.3s ease-in-out;
  /* -webkit-backdrop-filter: blur(1px) saturate(1.8);
  backdrop-filter: blur(1px) saturate(1.8);*/
}
.gallery-item:hover .text {
  opacity: 1;
  animation: move-down 0.3s linear;
  padding: 1em;
  width: 80%;
}
.w-1 {
  grid-row: span 2;
  height: 70%;
}
.w-2 {
  margin-top: -10%;
  grid-column: span 2;
  height: 100%;
}
.w-3 {
  margin-top: -60%;
  grid-row: span 1;
  height: 120%;
}
.w-4 {
  margin-top: -35%;
  grid-column: span 1;
  height: 130%;
}
.w-5 {
  height: 90%;
  margin-top: -8%;
  grid-column: span 2;
}

/* contact section end */

/* content section end */

/* footer section */
.footer-section {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  rgb(173, 7, 7);
  color: white;
}

.footer-section a {
  text-decoration: none;
  color: rgb(233, 221, 221);
}

.footer-top {
  display: flex;
  padding: 20px 100px 10px 100px;
  justify-content: space-between;
}

.footer-top h3 {
  position: relative;
  margin-bottom: 10px;
}

.footer-top h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background: #e91e3e;
  box-sizing: border-box;
  height: 2px;
  width: 50px;
}

.footer-left p,
.social-media {
  margin-top: 15px;
}

.footer-left p {
  color: rgb(233, 221, 221);
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer-left .social-media a {
  display: inline-block;
  height: 30px;
  width: 30px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 10px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer-left .social-media a:hover {
  color: #24262b;
  background-color: #fff;
}

.footer-center {
  width: 80px;
}

.footer-center li {
  list-style: none;
  padding-top: 5px;
}

.footer-center a {
  transition: all 0.3s ease;
}

.footer-center a:hover {
  padding-left: 8px;
}

.footer-right p {
  color: rgb(233, 221, 221);
  margin-top: 15px;
}

.footer-bottom {
  background-color:white;
  color: black;
  padding: 5px 50px;
  text-align: center;
  justify-content: center;
  display: flex;
}
.footer-bottom a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  color: white;
}
.footer-bottom a:hover {
  color: #e91e3e;
}
/* footer section end */

/* mobile view */
@media (max-width: 720px) {
  body {
    min-height: 90vh;
  }

  /* mobile nav bar section */
  header {
    padding: 15px 50px;
  }
  header.sticky {
    padding: 10px 50px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  .title {
    font-size: 0.9rem;
  }
  .hamburger {
    position: relative;
    width: var(--button-width);
    height: var(--button-height);
    margin-left: auto;
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  .line {
    position: absolute;
    height: var(--line-height);
    background: #fff;
    border-radius: var(--line-radius);
    transition: transform var(--transition);
  }
  .both-line {
    width: calc(var(--button-width) / 2);
  }
  .top-line {
    top: 0;
    left: 0;
    transform-origin: top left;
  }
  .middle-line {
    top: 50%;
    left: 0;
    width: var(--button-width);
    transform: translateY(-50%);
  }
  .bottom-line {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
  }
  .top-line.open {
    transform: translateX(var(--translate)) rotate(45deg);
  }
  .middle-line.open {
    transform: translateY(-50%) rotate(-45deg);
  }
  .bottom-line.open {
    transform: translateX(calc(-1 * var(--translate))) rotate(45deg);
  }
  .nav-links {
    position: fixed;
    background: #001018;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 90px 0;
    min-width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    clip-path: circle(100px at 120% -20%);
    -webkit-clip-path: circle(100px at 120% -20%);
    transition: all 1s ease-out;
  }
  .nav-links.open {
    clip-path: circle(1200px at 120% -20%);
    -webkit-clip-path: circle(1200px at 120% -20%);
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
    padding: 0;
    margin: 0;
  }
  .nav-links li a:hover {
    font-size: 30px;
    background: none;
    color: rgba(255, 255, 255, 0.8);
  }
  .nav-links li:nth-child(1) {
    transition: all 0.8s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.6s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.4s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.2s ease 0.8s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.1s ease 1s;
  }
  .nav-links li.fade {
    opacity: 1;
  }
  /* mobile nav bar section end */

  /* mobile content section */
  .from-bottom {
    transition: opacity 150ms ease-in, transform 400ms ease-in;
    opacity: 0;
    transform: translateY(25%);
  }
  .from-bottom.appear {
    text-align: center;
    opacity: 1;
    transform: translateY(0);
  }
  .head a {
    font-size: 42px;
  }
  .head p {
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
  }

  /* mobile contact section*/
  .gallery-section {
    padding: 80px 50px 30px;
  }
  .container {
    height: 2030px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px 100px;
    grid-gap: 10px;
  }
  .gallery-item .text {
    font-size: 16px;
    font-weight: 800;
    -webkit-backdrop-filter: blur(1px) saturate(1.8);
    backdrop-filter: blur(1px) saturate(1.8);
  }
  .gallery-item:hover .text {
    width: 60%;
  }
  .w-1 {
    grid-row: span 2;
    height: 100%;
  }
  .w-3 {
    margin-top: -1%;
    grid-column: span 1;
    height: 100%;
  }

  .w-4 {
    margin-top: -1%;
    grid-column: span 1;
    height: 100%;
  }

  /* mobile contact section end */

  /* mobile content section end */

  /* mobile footer section */
  .footer-top {
    flex-direction: column;
    padding: 20px 50px 10px 50px;
  }
  .footer-center {
    margin-right: 0;
  }
  .footer-left,
  .footer-center {
    padding-bottom: 10px;
  }
  .footer-bottom {
    display: block;
  }
  .footer-bottom p {
    font-size: 14px;
  }
  /* mobile footer section end */
}
